.aqua {
    background-color: aqua;
}

.change_logo {
    background-image: url(../img/signet.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 80px;
    height: 80px;
}

.upper_space {
    padding-top: 5rem;
}

/* Vertikale Navigation */
.nav_side a { color:#23272b; }
@media only screen and (max-width: 786px) {
    .nav_side { display: none; }
}

@media only screen and (max-width: 786px) {
    .display-1 {
        font-size: 2rem;
    }
}